*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    height: 100%;
}

$greyColor: #0f0f0f;
$grey_whiteColor: #1F1F1F;

h2,h3,h5{
    font-family: 'Playfair Display', serif;
}
h2{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}
.line{
    max-width: 120px;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #fff;
    margin: 50px auto;
}
[class*=__container]{
    max-width: 1230px;
    margin: 0px auto;
    padding: 0px 15px;
}
h5, a{
    font-size: inherit; 
    color: inherit;
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a.btn{
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.btn-box{
    display: inline-flex;
    border: 1px solid #FFFFFF;
    text-align: center;
    padding: 12px 20px;
}
.carts{
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    row-gap: 40px;
    max-width: 880px;
    justify-content: start;
    &__item{
        max-width: 260px;
        flex: 1 1 235px;
        &__img{
            box-sizing: border-box;
            padding: 50px 5px;
            display: flex;
            background-color: $grey_whiteColor;
            img{
                width: 83%;
                margin: auto;
            }
        }
        &__title{
            padding: 25px 0px 10px 0px;
        }
    }
}




/*.....burger menu......................... */
.burger-menu{
    z-index: 99999999;
    position: relative;
    width: 22px;
    display: none;
    height: 16px;
    span ,&::after ,&::before{
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        background-color: #fff;
        height: 2px;
        border-radius: 3px;
    }
    span{
        top: 0;
        bottom: 0;
        margin: auto;
    }
    &::after{
        bottom: 0;
    }
    &::before{
        top: 0;
    }
    &.active{
        span , &::after{
            top: 0;
            bottom: 0;
            margin: auto;
        }
        span{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
        &::before{
            display: none;
        }
    }
}








/*........header..............................*/

.header {  
    display: flex;
    flex-direction: column;
    .info-block {
        font-size: 12px;
        padding: 14px 0px;
        color:  #969696;
        background: #000;
        &__container{
            display: flex;
            justify-content: space-between;
        }
        .information { 
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            column-gap: 30px;
            .phone {
                column-gap: 15px;
                display: flex;
                img{
                    height: 14px;
                    width: 14px;
                }
            }
            .vertical-line{
                position: relative;
                &::before{
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: -15px;
                    margin: auto 0px;
                    width: 1px;
                    background: #969696;
                    content: '';
                    height: 10px;
                }
            }
        }
        .log-in{
            display: flex;
            align-items: center;
            column-gap: 10px;
            a:hover{
                color: #fff;
            }
            img{
                height: 14px;
                width: 14px;
            }
        }
        &__item{
            margin: auto 0px;
            word-break: keep-all;
        }
    }
    @media (max-width: 750px){
        .info-block{
            padding: 8px 0px;
            font-size: 11px;
        }
    }
}
.header-main {
    background-color: $greyColor;
    &__container{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .logo{
        img{
            width: 105px;
        }
    }
    .nav{
        flex: 1 1 auto;
       .menu{
           list-style: none;
           display: flex;
           justify-content: end;
            &__item {
                color: #969696;
                padding: 25px 20px;
                display: inline-block;
                transition: all 0.3s linear;
                &:hover{
                    background-color: $grey_whiteColor;
                    color: #fff;
                }
            }
        } 
    }
    .header-btn {
        margin-left: 20px;
        display: flex;
        column-gap: 40px;
        align-items: center;
        img{
            height: 22px;
            width: 22px;
        }
    }
    @media (max-width: 750px) {
        .header-btn{
            column-gap: 15px;
            margin-left: 5px;
        }
        .nav .menu__item{
            padding: 20px 10px;
        }
        .logo img{
            width: 80px;
        }
    }
}
@media (max-width: 650px) {
    body.mobile-menu-acctive{
        overflow: hidden;
    }
    .nav{
        display: none;
        box-sizing: border-box;
    }
    .burger-menu{
        display: block;
    }
    .header.active{
        flex-direction: column-reverse;
        .header-main{
            position: relative;
            box-sizing: border-box;
            height: 100vh;
        }
        .info-block{
            background-color: $greyColor;
            width: 100%;
            position: fixed;
            bottom: 0;
            z-index: 999;
            text-align: center;
            display: block;
            &__container{
                flex-direction: column-reverse;
                row-gap: 10px;
            }
            .vertical-line{
                &::before{
                    display: none;
                }
            }
            .phone{
                justify-content: center;
                img{
                    display: none;
                }
            } 
            .log-in{
                justify-content: center;
            }
            .information{
                flex-direction: column;
                row-gap: 10px;
                .info-block__item{
                    
                }
            }
        }
        nav{
            position: absolute;
            width: 100vw;
            top: 45px;
            overflow-y:auto;
            left: 0;
            padding-top: 50px;
            height: calc(100vh - 100px);
            padding-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            .menu{
                display: flex;
                flex-direction: column;
                align-items: stretch;
                &__item{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    .header-main{
        position: relative;
        padding: 20px 0px;
        &__container{
            justify-content: space-between;
        }
    }
    .info-block{
        display: none;
    }
    
}
@media (max-height: 390px) {
    .header.active{
        .menu__item{
            padding: 10px 5px !important;
        }
        .info-block{
            padding-top: 0px;
        }
    }
    
}

//first-section

.porten{
    background: url(image/firts-section-img.png) center no-repeat;
    background-size: cover;
    padding: 150px 0px;
    *{
        margin: auto;
    }
    &__box{
        padding: 90px 60px;
        border: 3px solid #fff;
        max-width: 310px;
        box-sizing: border-box;
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        *{
            margin: auto;
        }
        img{
            max-width: 185px;
            width: 100%;
        }
        .line{
            max-width: 100%;
            margin: 5px 0px;
        }
    }
    &__text{
        margin-top: 80px;
        max-width: 720px;
        text-align: center;
        text-transform: uppercase;
    }
    @media (max-width: 540px) {
        &{
            padding: 100px 0px;
        }
    }
}

/*  season2020  ...*/

.season2020{
    background: #000;
    &__container{
        max-width: 1900px;
        display: flex;
        padding: 0px;
    }
    

}
.new-colection{
    min-width: 500px;
    background: url(image/second-section.png) no-repeat;
    background-size: cover;
    min-height: 600px;
    flex: 1 1 auto;
    position: relative;
    &__contant{
        position: absolute;
        text-align: center;
        bottom: 100px;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 35px;
    }
    .line{
        margin: 30px auto;
    }
}
.season{
    padding: 90px 80px;
    &__title,h2{
        text-align: center;
        font-size: 35px;
        .line{
            
        }
    }
    .carts__item{
        flex: 1 1 200px;
    }
}

@media (max-width: 1500px) {
    .season{
        padding: 60px 30px;
    }
    .carts__item__img{
        padding: 30px 5px;
    }
}
@media (max-width: 1225px) {
    .season{
        padding: 60px 30px;
    }
    .carts__item__img{
        padding: 30px 5px;
    }
    .season2020__container{
        flex-direction: column
    }
    .carts{
        max-width: 100%;
        justify-content: center;
    }
    .new-colection{
        min-width: 0px;
    }
}


/*.....colection2018...........*/
.colection2018{
    background-color: #000;
    &__container{
        display: flex;
        max-width: 1900px;
        padding: 0px;
    }
    &__image{
        background: url(image/3th-section.png) no-repeat center;
        background-size: cover;
        min-width: 200px;
        min-height: 300px;
        flex: 1 1 auto;
    }
    &__contant{
        padding: 100px 270px;
        text-align: center;
        &__text{
            margin: auto;
            max-width: 500px;
        }
        &__catalog{
            margin: 60px auto 0px auto;
        }
        .line{
            margin: 40px auto;
        }
    }
    @media (max-width: 1600px){
        &__contant{
            padding: 80px 140px;
        }
    }
    @media (max-width: 1250px){
        &__contant{
            padding: 60px 50px;
        }
    }
    @media (max-width: 900px){
        &__container{
            flex-direction: column-reverse;
        }
        &__image{
            min-height: 600px;
        }
    }
    @media (max-width: 420px){
        &__contant{
            padding: 40px 15px;
        }
        &__image{
            min-height: 400px;
        }
    }
}


.new-goods{
    padding: 120px 0px;
    background: #000;
    .carts{
        justify-content: center;
        max-width: 100%;
        &__item{
            &__img{
                padding: 50px 20px;
            }
        }
    }
}


.brands{
    padding: 60px 0px;
    background-color: $grey_whiteColor;
    .line{
        margin: 30px auto;
    }
    &__items-box{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-around;
        &__item{
            display: flex;
            flex:  1 1 250px;
            img{
                margin: auto;
                max-width: 100%;
            }
        }

    }
}

.footer{
    padding: 60px 0px;
    background: url(image/footer-img.png) center no-repeat;
    background-size: cover;
    &__container{
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: stretch;
    }
    [class*=__title]{
        text-align: left;
        margin-bottom: 35px;
        font-size: 24px;
        h2{
            text-align: inherit;
            font-size: inherit;
        }
    }
    .flex-item{
        flex: 1 1 auto;
        max-width: 350px;
    }
    &__categories{
        min-width: 300px;
        &__items-box{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        &__item{
            background-color: $greyColor;
            padding: 10px 15px;
            word-wrap: normal;
            word-break: normal;
            flex: 1 1 auto;
            text-align: center;
            transition: all 0.3s linear;
            &:hover{
                background: $grey_whiteColor;
            }
        }
        @media (max-width: 1050px) {
            &__items-box{
                gap: 10px;
            }
        }
    }
    &__mailing-list{
        form{
            margin-top: 40px;
            display: flex;
            flex-wrap: nowrap;
            input{
                float: none;
                display: block;
            }
            input[type=text]{
                box-sizing: border-box;
                flex: 1 1 auto;
                background: rgba(255, 255, 255, 0.4);
                padding: 10px 0px 10px 15px;
                outline: none;
                border: none;
                color: #fff;
                text-align: left;
                &::placeholder{
                    color: #969696;
                }
            }
            input[type=button]{
                font-size: 14px;
                cursor: pointer;
                background: $greyColor;
                border: none;
                padding: 10px 15px;
                text-align: center;
                color: #fff;
                transition: all 0.3s linear;
                &:hover{
                    background: $grey_whiteColor;
                }
            }
        }
    }
    &__about-us.flex-item{
        flex: 1 1 200px;
    }
    @media (max-width: 990px) {
        &__container{
            flex-wrap: wrap;
        }
        &__mailing-list.flex-item{
            max-width: 550px;
        }
        .flex-item{
            margin: 0px auto;
        }
    }
    @media (max-width: 680px) {
        &__container{
            flex-direction: column;
            row-gap: 35px;
        }
        .flex-item{
            flex: none;
            width: 100%;
            max-width: 550px;
            margin: 0px 0px;
        }
        [class*=__title]{
            margin-bottom: 20px;
        }
        &__categories{
            min-width: 0px;
        }
    }
    @media (max-width: 390px){
        &__mailing-list form{
            display: block;
            input[type=text]{
                width: 100% ;
            }
            input[type=button]{
                margin-left: auto;
                margin-top: 15px;
            }
        }
    }
}